.projects-container{
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  max-width: 1400px; /* Puedes ajustar este valor si quieres más ancho */
  padding: 20px;
  gap: 18px;
}


.project-card {
  background: #112240;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, opacity 0.5s;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  /* Animación de entrada solo con la clase visible */
}

.project-card:hover {
  transform: translateY(-10px) !important;
  cursor: pointer;
}

.project-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
}

.tech-list {
  margin-top: 20px;
  text-align: left;
}

.tech-logos {
  display: flex;
  gap: 10px;
  margin-top: 5px;
  flex-wrap: wrap;
}

.tech-item {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #0a192f;
  padding: 3px 8px;
  border-radius: 5px;
}

.tech-logo {
  width: 22px;
  height: 22px;
  object-fit: contain;
}

@media (max-width: 1200px) {
  .projects-grid {
    padding: 10px;
    gap: 18px;
  }
  .project-card {
    width: 100%;
    min-width: 0;
    max-width: 100%;
  }
}

@media (max-width: 1100px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .projects-grid {
    grid-template-columns: 1fr;
    padding: 5px;
    gap: 35px;
  }
  .project-card {
    width: 85%;
    padding: 14px;
  }
  .project-img {
    height: 180px;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.project-card {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.5s, transform 0.5s;
}


.project-card.visible {
  opacity: 1;
  transform: translateY(0);
  animation: fadeInUp 0.7s cubic-bezier(.23,1.01,.32,1) both;
}