:root {
  --dark-blue: #0a192f;
  --light-blue: #00b7ff;
  --text-light: #ccd6f6;
  --text-dark: #8892b0;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: var(--dark-blue);
  color: var(--text-light);
  scroll-behavior: smooth;
}
h1, h2, h3 {
  color: var(--light-blue);
}
section {
  padding: 80px 20px;
}
